* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: var(--primary);
  --primary: #fff;
  --secondary: #aed8e9;
  --icon-color: #757575;
  --nav-color: #6202ee;
}
body {
  background-color: antiquewhite;
  height: 100%;
  display: flex;
  align-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}
svg {
  width: 25px;
  height: 25px;
}

/* ----- navbar ----- */
.nav {
  background-color: var(--nav-color);
  fill: var(--primary);
  padding: 15px;
  display: flex;
}
.nav-left,
.nav-right {
  display: flex;
  align-items: center;
  gap: 30px;
}
.nav-right {
  margin-left: auto;
}

/* ----- Form Container ---- */
form {
  border: solid 1px red;
  display: flex;
  flex-direction: column;
}
