* {
  box-sizing: border-box;
}
:root {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: var(--primary);
  --primary: #fff;
  --secondary: #aed8e9;
  --icon-color: #757575;
  --nav-color: #6202ee;
}
body {
  background-color: var(--icon-color);
  margin: auto;
}
svg {
  width: 25px;
  height: 25px;
}

.container {
  display: flex;
  flex-direction: column;
}
/* ----- navbar ----- */
.nav {
  background-color: var(--nav-color);
  fill: var(--primary);
  padding: 2px 10px;
  display: flex;
}
.nav-left,
.nav-right {
  display: flex;
  align-items: center;
  gap: 30px;
}
.nav-right {
  margin-left: auto;
}
form {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.section-container {
  gap: 10px;
  margin: 5px 0;
  align-items: center;
  display: flex;
}
.section-container label {
  display: flex;
}
.section-container input,
.section-container select {
  display: flex;
  width: 100%;
  padding: 10px;
}
.tel-container {
  display: grid;
  /* grid-template-columns: 35px repeat(auto-fit, minmax(120px, 1fr)); */
  grid-template-columns: 35px repeat(8, 1fr);
}
.tel-container input {
  grid-column: 2 / 2;
  /* margin-right: auto; */
}
.tel-container select {
  grid-column: 7 / 10;
}
